<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<style>
h3 {
    color: rgb(165, 42, 42)
}
    body{
        background-image: url("https://i.ibb.co/tHLXfxJ/mueblesfondo.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        align-items: center;
        font-family: 'Roboto', sans-serif;
    }
    main {
        align-items: center;
        display: flex;
        justify-content: center;
        font-family: 'Roboto', sans-serif;
        border-radius: 6px;
        background: rgba(221, 221, 221, 0.85);
       margin-left: 100px;
       margin-right: 100px;
    }
    .formulario-de-Registro {
        text-align: center;
        color: snow;
    }
    .register-form {
        border-radius: 20px;
        box-sizing: border-box;
        margin-top: 15px;
        height: auto;
        padding: 15px;
        text-align: center
    }
    .form-contenedor{
        height: 30px;
        position: relative;
        box-sizing: border-box;
        width: 100%;
        border: 0;
        border-radius: 6px;
        margin: 10px 0px 30px
    }
    .form-contenedor:focus{
        background-color: rgb(165, 42, 42);
        color: snow;
    }
    input:focus::placeholder{
        color: snow;
        }
    .submit {
        background-color: rgb(165, 42, 42);
        border-radius: 6px;
        border: 0;
        box-sizing: border-box;
        color: #eee;
        cursor: pointer;
        font-size: 14px;
        height: 38px;
        margin-top: 15px;
        margin-bottom: 15px;
        outline: 0;
        text-align: center;
        width: 100%;
    }
    .submit:hover{
        background-color: #c9200a;
    }
</style>


<body>
    <%- include("../partials/header.ejs") %>
    <div class="Formulario-de-Edicion">
   <br>
   <br>
    </div>
<main>
    <form action="/products/edicion/<%= Product.id %>/?_method=PUT" method="POST" class= "register-form">
        <h3>Edicion de Producto</h3> 
        <div>
            <input class="form-contenedor" type="text" name="nombre" value="<%=Product.nombre%>" placeholder="Ingrese nombre de producto">
            <% if (locals.errors && errors.nombre) { %>
                <p><%= errors.nombre.msg %></p>
            <% } %>
        </div>
        <div>
            <input class="form-contenedor" type="text" name="descripcion" value="<%=Product.descripcion%>" placeholder="Descripcion del producto" >
            <% if (locals.errors && errors.descripcion) { %>
                <p><%= errors.descripcion.msg %></p>
            <% } %>
        </div>
        <div>
            <input class="form-contenedor" type="text" name="materiales" value="<%=Product.materiales%>" placeholder="Materiales del producto">
            <% if (locals.errors && errors.materiales) { %>
                <p><%= errors.materiales.msg %></p>
            <% } %>
        </div>
        <div>
            <select class="form-contenedor" name="cantidad">
                <option value="" <%= Product.cantidad == "" ? "selected" : "" %>>Selecciona la cantidad de Muebles</option>              
                <option value="1" <%= Product.cantidad == "1" ? "selected" : "" %>>1 unidad</option>
                <% for( let i = 2; i<=20; i++) {%>
                    <option value="<%=i%>" <%= Product.cantidad == i ? "selected" : "" %>><%=i%> unidades</option>                                
                <% } %>             
            </select>
            <% if (locals.errors && errors.cantidad) { %>
                <p><%= errors.cantidad.msg %></p>
            <% } %>    
        </div>
        <div>
            <input class="form-contenedor" type="text" name="precio" value="<%=Product.precio%>" placeholder="Ingresa el precio">
            <% if (locals.errors && errors.precio) { %>
                <p><%= errors.precio.msg %></p>
            <% } %>
        </div>
        <div>
            <input class="form-contenedor" type="text" name="dimensiones" value="<%=Product.dimensiones%>" placeholder="Ingresa las dimensiones">
            <% if (locals.errors && errors.dimensiones) { %>
                <p><%= errors.dimensiones.msg %></p>
            <% } %>
        </div>
        <div>
            <input class="form-contenedor" type="text" name="peso" value="<%=Product.peso%>" placeholder="Ingresa el peso">
            <% if (locals.errors && errors.peso) { %>
                <p><%= errors.peso.msg %></p>
            <% } %>
        </div>
        <div>
            <select class="form-contenedor" name="categorias">
                <option value="" <%= Product.categoriaId == "" ? "selected":"" %>>Selecciona la categoría de Mueble</option>              
                <% for(let i = 0; i < categorias.length; i++) {%>
                    <option value="<%= categorias[i].id %>" <%= Product.categoriaId == categorias[i].id ? "selected":"" %> ><%= categorias[i].name %> </option>                                
                <% } %>
            </select>
            <% if (locals.errors && errors.categorias) { %>
                <p><%= errors.categorias.msg %></p>
            <% } %>            
        </div>
        <div>
            <input class= "form-contenedor" type="file" name="productImg" placeholder="Foto de producto">
            <% if (locals.errors && errors.productImg) { %>
                <p><%= errors.productImg.msg %></p>
            <% } %>
        </div>
        <button type="submit" class="submit">ACTUALIZAR</button>
    </form>
    <form action="/products/<%= Product.id %>/delete?_method=DELETE" method="POST">
        <button type="submit" class="submit">BORRAR</button>
    </form>
    </main> 
<%- include("../partials/footer") %>
</body>
</html>