<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
    <script src="/js/productFrontValidation.js"></script>

<style>
h3 {
    color: rgb(165, 42, 42)
}
    body{
        background-image: url("https://i.ibb.co/gSSdWbv/alformbraroja.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        align-items: center;
        font-family: 'Roboto', sans-serif;
    }
    main {
        align-items: center;
        display:block;
        justify-content: center;
        font-family: 'Roboto', sans-serif;
        border-radius: 6px;
        background: rgba(221, 221, 221, 0.85);
        max-width: 350px;
        margin: auto;
        margin-top: 50px;
    }
    .formulario-de-Registro {
        text-align: center;
        color: snow;
    }
    .register-form {
        border-radius: 20px;
        box-sizing: border-box;
        margin-top: 15px;
        height: auto;
        padding: 15px;
        text-align: center
    }
    .form-contenedor{
        height: 30px;
        position: relative;
        box-sizing: border-box;
        width: 85%;
        border: 0;
        border-radius: 6px;
        margin: 10px 0px 30px
    }
    .form-contenedor:focus{
        background-color: rgb(165, 42, 42);
        color: snow;
    }
    input:focus::placeholder{
        color: snow;
        }
    .submit {
        background-color: rgb(165, 42, 42);
        border-radius: 6px;
        border: 0;
        box-sizing: border-box;
        color: #eee;
        cursor: pointer;
        font-size: 14px;
        height: 38px;
        margin-top: 15px;
        margin-bottom: 15px;
        outline: 0;
        text-align: center;
        width: 85%;
    }
    .submit:hover{
        background-color: #c9200a;
    }
    .submit-2 {
        background-color: rgb(165, 42, 42);
        border-radius: 6px;
        border: 0;
        box-sizing: border-box;
        color: #eee;
        cursor: pointer;
        font-size: 14px;
        height: 38px;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 2.7em;
        outline: 0;
        text-align: center;
        width: 78%;
    }
    .submit-2:hover{
        background-color: #c9200a;
    }
   
    div.errores{
        color:red;
        list-style-type: none;
        padding: 10px;
        border-radius: 20px;
        font-size: 0.8rem;
        margin: 1px;
    }

    @media (max-width: 750px) {
        main {
            margin-top: 65px;
        }
        .submit-2 {
            margin-left: 2.4em;
        }
        }
</style>


<body>
    <%- include("../partials/header.ejs") %>
    <div class="Formulario-de-Edicion">
   <br>
   <br>
    </div>
<main>
    <form action="/productos/edicion/<%= Product.id %>/?_method=PUT" method="POST" class= "register-form">
        <h3>Edición de producto</h3> 
        <div class ="errores">
            <ul></ul>
        </div>
        <div>
            <input class="form-contenedor" type="text" name="nombre" id="nombre" value="<%=Product.nombre%>" placeholder="Ingrese nombre de producto">
            <% if (locals.errors && errors.nombre) { %>
                <p class ="errores"><%= errors.nombre.msg %></p>
            <% } %>
        </div>
        <div>
            <input class="form-contenedor" type="text" name="descripcion" id="descripcion" value="<%=Product.descripcion%>" placeholder="Descripcion del producto" >
            <% if (locals.errors && errors.descripcion) { %>
                <p class ="errores"><%= errors.descripcion.msg %></p>
            <% } %>
        </div>
        <div>
            <input class="form-contenedor" type="text" name="materiales" id="materiales" value="<%=Product.materiales%>" placeholder="Materiales del producto">
            <% if (locals.errors && errors.materiales) { %>
                <p class ="errores"><%= errors.materiales.msg %></p>
            <% } %>
        </div>
        <div>
            <select class="form-contenedor" name="cantidad" id="cantidad">
                <option value="" <%= Product.cantidad == "" ? "selected" : "" %>>Selecciona la cantidad de Muebles</option>              
                <option value="1" <%= Product.cantidad == "1" ? "selected" : "" %>>1 unidad</option>
                <% for( let i = 2; i<=20; i++) {%>
                    <option value="<%=i%>" <%= Product.cantidad == i ? "selected" : "" %>><%=i%> unidades</option>                                
                <% } %>             
            </select>
            <% if (locals.errors && errors.cantidad) { %>
                <p class ="errores"><%= errors.cantidad.msg %></p>
            <% } %>    
        </div>
        <div>
            <input class="form-contenedor" type="text" name="precio" id="precio" value="<%=Product.precio%>" placeholder="Ingresa el precio">
            <% if (locals.errors && errors.precio) { %>
                <p class ="errores"><%= errors.precio.msg %></p>
            <% } %>
        </div>
        <div>
            <input class="form-contenedor" type="text" name="dimensiones" id="dimensiones" value="<%=Product.dimensiones%>" placeholder="Ingresa las dimensiones">
            <% if (locals.errors && errors.dimensiones) { %>
                <p class ="errores"><%= errors.dimensiones.msg %></p>
            <% } %>
        </div>
        <div>
            <input class="form-contenedor" type="text" name="peso" id="peso" value="<%=Product.peso%>" placeholder="Ingresa el peso">
            <% if (locals.errors && errors.peso) { %>
                <p class ="errores"><%= errors.peso.msg %></p>
            <% } %>
        </div>
        <div>
            <select class="form-contenedor" name="categoriaId" id="categorias">
                <option value="" <%= Product.categoriaId == "" ? "selected":"" %>>Selecciona la categoría de Mueble</option>              
                <% for(let i = 0; i < categorias.length; i++) {%>
                    <option value="<%= categorias[i].id %>" <%= categorias[i].id === Product.categoriaId ? "selected":"" %> ><%= categorias[i].name %> </option>                                
                <% } %>
            </select>
            <% if (locals.errors && errors.categoriaId) { %>
                <p class ="errores"><%= errors.categoriaId.msg %></p>
            <% } %>            
        </div>
        <div>
            <input class= "form-contenedor" type="file" name="productImg" id="productImg" placeholder="Foto de producto" value="<%=Product.productImg%>">
            <% if (locals.errors && errors.productImg) { %>
                <p class ="errores"><%= errors.productImg.msg %></p>
            <% } %>
        </div>
        <button type="submit" class="submit">Actualizar</button>
    </form>
    <form action="/productos/<%= Product.id %>/delete?_method=DELETE" method="POST">
        <button type="submit" class="submit-2">Borrar</button>
    </form>
    <br>
    </main>
    <br>
    <br> 
<%- include("../partials/footer") %>
</body>
</html>