<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
<style>
    body{
       background-image: url("https://i.ibb.co/tHLXfxJ/mueblesfondo.jpg");
       background-repeat: no-repeat;
       background-attachment: fixed;
       background-size: cover;
       align-items: center;
       font-family: 'Roboto', sans-serif;
       
   }
   h2{
        color:rgb(32, 32, 32);
    }
   .categories {
        background-color: rgba(0, 0, 0, 0.3)
    }
    .row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }
   .col-4 {
        flex-basis: 20%;
        padding: 5px;
        min-width: 200px;
        margin-bottom: 50px;
        transition: transform 0.5s;
        background-color: rgba(253, 253, 253, 0.6)
    }
    .col-4 img {
        width: 100%;
    }
    .col-4:hover {
       transform: translateY(-6px)
    }
    .submit {
        background-color: #a52a2a;
        border-radius: 6px;
        border: 0;
        color: #eee;
        cursor: pointer;
        font-size: 14px;
        height: 38px;
        margin-left: 20%;
        margin-right: 10%;
        margin-bottom: 1%;
        outline: 0;
        text-align: center;
        width: 60%;
    }
    .submit:hover {
        background:  #c9200a;
    } 
</style>
<body>
    <%- include("../partials/header.ejs") %>    
<main>
    <div class="categories">
        <h2 class="titles">Nuestros productos</h2>
            <div class="row">
                <% products.forEach( product => { %>
                <div class="col-4">
                    <a href="/products/<%= product.id %>">
                        <img src="/images/products/<%= product.productImg %>" width="250px" height="300px" href="">
                    </a>
                    <h3><%= product.nombre %></h3>
                    <p>$<%= product.precio %></p>
                    <a href="/carrito">
                        <button type="text" class="submit">Agregar al carrito</button>
                    </a>
                </div>
                <% }) %>
            </div>
    </div>
</main>
<br>
    <%- include("../partials/footer") %>
</body>
</html>