<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<style>
h3 {
    color: rgb(165, 42, 42)
}

    .formularioColor:focus{
        background-color: rgb(165, 42, 42);
        color: snow;
    }
    body{
        background-image: url("https://i.ibb.co/gSSdWbv/alformbraroja.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        align-items: center;
        font-family: 'Roboto', sans-serif;
    }
    main {
        align-items: center;
        display: block;
        justify-content: center;
        font-family: 'Roboto', sans-serif;
        border-radius: 6px;
        background: rgba(221, 221, 221, 0.85);
        max-width: 450px;
        margin: auto;
        margin-top: 3em;
        padding-left: 0;
        padding-right: 2em;
    }
    section {
        width: 90%;
        margin-left: 2.5em;
    }
    .Formulario-de-Registro {
        text-align: center;
        color: snow;
    }
    .register-form {
        border-radius: 20px;
        box-sizing: border-box;
        margin-top: 15px;
        height: auto;
        padding: 15px;
        text-align: center;
    }
    .form-contenedor:focus{
        background-color: rgb(165, 42, 42);
        color: snow;
    }
    input:focus::placeholder{
        
        color: snow;
        }
    #nombre {
        height: 30px;
        position: relative;
        box-sizing: border-box;
        width: 100%;
        border: 0;
        border-radius: 6px;
        margin: 10px 0px 30px
    }

    #Apellido {
        height: 30px;
        position: relative;
        box-sizing: border-box;
        width: 100%;
        border: 0;
        border-radius: 6px;
        margin: 10px 0px 30px
    }

    #Email {
        height: 30px;
        position: relative;
        box-sizing: border-box;
        width: 100%;
        border: 0;
        border-radius: 6px;
        margin: 10px 0px 30px
    }

    #Contraseña {
        height: 30px;
        position: relative;
        box-sizing: border-box;
        width: 100%;
        border: 0;
        border-radius: 6px;
        margin: 10px 0px 30px
    }

    #Confirmar-Contraseña {
        height: 30px;
        position: relative;
        box-sizing: border-box;
        width: 100%;
        border: 0;
        border-radius: 6px;
        margin: 10px 0px 30px
    }

    #Pais-de-residencia {
        height: 30px;
        position: relative;
        box-sizing: border-box;
        width: 100%;
        border: 0;
        border-radius: 6px;
        margin: 10px 0px 30px
    }
    #Pais-de-residencia:focus {
        background-color: rgb(165, 42, 42);
        color: snow;
    }

    #Tipo-de-documento {
        height: 30px;
        position: relative;
        box-sizing: border-box;
        width: 100%;
        border: 0;
        border-radius: 6px;
        margin: 10px 0px 30px
    }
    #Tipo-de-documento:focus {
        background-color: rgb(165, 42, 42);
        color: snow;
    }
    #Nº-de-documento {
        height: 30px;
        position: relative;
        box-sizing: border-box;
        width: 100%;
        border: 0;
        border-radius: 6px;
        margin: 10px 0px 30px
    }

    #Fecha-de-Nacimiento {
        height: 30px;
        position: relative;
        box-sizing: border-box;
        width: 100%;
        border: 0;
        border-radius: 6px;
        margin: 10px 0px 30px
    }

    #Celular {
        height: 30px;
        position: relative;
        box-sizing: border-box;
        width: 100%;
        border: 0;
        border-radius: 6px;
        margin: 10px 0px 30px
    }

    .submit {
        background-color: rgb(165, 42, 42);
        border-radius: 6px;
        border: 0;
        box-sizing: border-box;
        color: #eee;
        cursor: pointer;
        font-size: 14px;
        height: 38px;
        margin-top: 15px;
        margin-bottom: 15px;
        outline: 0;
        text-align: center;
        width: 85%;
    }
    .submit:hover{
        background-color: #c9200a;
    }
    .submit-2 {
        background-color: rgb(165, 42, 42);
        border-radius: 6px;
        border: 0;
        box-sizing: border-box;
        color: #eee;
        cursor: pointer;
        font-size: 14px;
        height: 38px;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 3.7em;
        outline: 0;
        text-align: center;
        width: 81%;
    }
    .submit-2:hover{
        background-color: #c9200a;
    }
    .errores{
        color:red;
        list-style-type: none;
        padding: 10px;
        border-radius: 20px;
        font-weight: bold;
        font-size: 0.8rem;
        margin: 1px;
    }

    @media (max-width: 769px) {
        main {
            margin-top: 75px;
        }
        .submit-2 {
            margin-left: 2.4em;
        }
        }
</style>


<body>
    <%- include("../partials/header.ejs") %>
    <div class="Formulario-de-Registro">
   <br>
   <br>
    </div>

<main>
    <form action="/edicion/<%=userToEdit.id%>/?_method=PUT" method="post" class= "register-form" enctype="multipart/form-data">

        <h3>Edita tu usuario</h3>
<section>
    <div>
    <label for="name"></label>
    <input class= "formularioColor" type="text" name="firstName" value="<%=userToEdit.firstName%>" id="nombre" placeholder="Ingresa tu nombre*" required>
</div>
<div>
    <label for="Apellido"></label>
    <input class= "formularioColor" type="text" name="lastName" value="<%=userToEdit.lastName%>" id="Apellido" placeholder="Ingresa tu Apellido*" required>
</div>
<div>
    <label for="email"></label>
    <input class= "formularioColor" type="email" name="email" value="<%=userToEdit.email%>" id="Email" placeholder="Ingresa tu Email*" required>
</div>
<!-- <div>
    <label for="Contraseña"> </label>
    <input class= "formularioColor" type="password" name="password" value="<%=userToEdit.password%>" id="Contraseña" placeholder="Ingresa tu Contraseña*" required>
</div>
<div>
    <label for="Confirmar Contraseña"></label>
    <input class= "formularioColor" type="password" name="passwordconf" value="<%=userToEdit.passwordconf%>" id="Confirmar-Contraseña" placeholder="Confirmar Contraseña*" required>
</div> -->
<div>
    <label for="Pais de residencia"></label>
    <select  name="country" id="Pais-de-residencia" required>
        <option value="">Selecciona tu pais de residencia</option>
        <option value="AF"<%= userToEdit.country === "AF" ? "selected" : "" %> >Afghanistan</option>
        <option value="AL"<%= userToEdit.country === "AL" ? "selected" : "" %> >Albania</option>
        <option value="DZ"<%= userToEdit.country === "DZ" ? "selected" : "" %> >Algeria</option>
        <option value="AS"<%= userToEdit.country === "AS" ? "selected" : "" %> >American Samoa</option>
        <option value="AD"<%= userToEdit.country === "AD" ? "selected" : "" %> >Andorra</option>
        <option value="AO"<%= userToEdit.country === "AO" ? "selected" : "" %> >Angola</option>
        <option value="AI"<%= userToEdit.country === "AI" ? "selected" : "" %> >Anguilla</option>
        <option value="AQ"<%= userToEdit.country === "AQ" ? "selected" : "" %> >Antarctica</option>
        <option value="AG"<%= userToEdit.country === "AG" ? "selected" : "" %> >Antigua and Barbuda</option>
        <option value="AR"<%= userToEdit.country === "AR" ? "selected" : "" %> >Argentina</option>
        <option value="AM"<%= userToEdit.country === "AM" ? "selected" : "" %> >Armenia</option>
        <option value="AW"<%= userToEdit.country === "AW" ? "selected" : "" %> >Aruba</option>
        <option value="AU"<%= userToEdit.country === "AU" ? "selected" : "" %> >Australia</option>
        <option value="AT"<%= userToEdit.country === "AT" ? "selected" : "" %> >Austria</option>
        <option value="AZ"<%= userToEdit.country === "AZ" ? "selected" : "" %> >Azerbaijan</option>
        <option value="BS"<%= userToEdit.country === "BS" ? "selected" : "" %> >Bahamas</option>
        <option value="BH"<%= userToEdit.country === "BH" ? "selected" : "" %> >Bahrain</option>
        <option value="BD"<%= userToEdit.country === "BD" ? "selected" : "" %> >Bangladesh</option>
        <option value="BB"<%= userToEdit.country === "BB" ? "selected" : "" %> >Barbados</option>
        <option value="BY"<%= userToEdit.country === "BY" ? "selected" : "" %> >Belarus</option>
        <option value="BE"<%= userToEdit.country === "BE" ? "selected" : "" %> >Belgium</option>
        <option value="BZ"<%= userToEdit.country === "BZ" ? "selected" : "" %> >Belize</option>
        <option value="BJ"<%= userToEdit.country === "BJ" ? "selected" : "" %> >Benin</option>
        <option value="BM"<%= userToEdit.country === "BM" ? "selected" : "" %> >Bermuda</option>
        <option value="BT"<%= userToEdit.country === "BT" ? "selected" : "" %> >Bhutan</option>
        <option value="BO"<%= userToEdit.country === "BO" ? "selected" : "" %> >Bolivia</option>
        <option value="BA"<%= userToEdit.country === "BA" ? "selected" : "" %> >Bosnia and Herzegowina</option>
        <option value="BW"<%= userToEdit.country === "BW" ? "selected" : "" %> >Botswana</option>
        <option value="BV"<%= userToEdit.country === "BV" ? "selected" : "" %> >Bouvet Island</option>
        <option value="BR"<%= userToEdit.country === "BR" ? "selected" : "" %> >Brazil</option>
        <option value="IO"<%= userToEdit.country === "IO" ? "selected" : "" %> >British Indian Ocean Territory</option>
        <option value="BN"<%= userToEdit.country === "BN" ? "selected" : "" %> >Brunei Darussalam</option>
        <option value="BG"<%= userToEdit.country === "BG" ? "selected" : "" %> >Bulgaria</option>
        <option value="BF"<%= userToEdit.country === "BF" ? "selected" : "" %> >Burkina Faso</option>
        <option value="BI"<%= userToEdit.country === "BI" ? "selected" : "" %> >Burundi</option>
        <option value="KH"<%= userToEdit.country === "KH" ? "selected" : "" %> >Cambodia</option>
        <option value="CM"<%= userToEdit.country === "CM" ? "selected" : "" %> >Cameroon</option>
        <option value="CA"<%= userToEdit.country === "CA" ? "selected" : "" %> >Canada</option>
        <option value="CV"<%= userToEdit.country === "CV" ? "selected" : "" %> >Cape Verde</option>
        <option value="KY"<%= userToEdit.country === "KY" ? "selected" : "" %> >Cayman Islands</option>
        <option value="CF"<%= userToEdit.country === "CF" ? "selected" : "" %> >Central African Republic</option>
        <option value="TD"<%= userToEdit.country === "TD" ? "selected" : "" %> >Chad</option>
        <option value="CL"<%= userToEdit.country === "CL" ? "selected" : "" %> >Chile</option>
        <option value="CN"<%= userToEdit.country === "CN" ? "selected" : "" %> >China</option>
        <option value="CX"<%= userToEdit.country === "CX" ? "selected" : "" %> >Christmas Island</option>
        <option value="CC"<%= userToEdit.country === "CC" ? "selected" : "" %> >Cocos (Keeling) Islands</option>
        <option value="CO"<%= userToEdit.country === "CO" ? "selected" : "" %> >Colombia</option>
        <option value="KM"<%= userToEdit.country === "KM" ? "selected" : "" %> >Comoros</option>
        <option value="CG"<%= userToEdit.country === "CG" ? "selected" : "" %> >Congo</option>
        <option value="CD"<%= userToEdit.country === "CD" ? "selected" : "" %> >Congo, the Democratic Republic of the</option>
        <option value="CK"<%= userToEdit.country === "CK" ? "selected" : "" %> >Cook Islands</option>
        <option value="CR"<%= userToEdit.country === "CR" ? "selected" : "" %> >Costa Rica</option>
        <option value="CI"<%= userToEdit.country === "CI" ? "selected" : "" %> >Cote d'Ivoire</option>
        <option value="HR"<%= userToEdit.country === "HR" ? "selected" : "" %> >Croatia (Hrvatska)</option>
        <option value="CU"<%= userToEdit.country === "CU" ? "selected" : "" %> >Cuba</option>
        <option value="CY"<%= userToEdit.country === "CY" ? "selected" : "" %> >Cyprus</option>
        <option value="CZ"<%= userToEdit.country === "CZ" ? "selected" : "" %> >Czech Republic</option>
        <option value="DK"<%= userToEdit.country === "DK" ? "selected" : "" %> >Denmark</option>
        <option value="DJ"<%= userToEdit.country === "DJ" ? "selected" : "" %> >Djibouti</option>
        <option value="DM"<%= userToEdit.country === "DM" ? "selected" : "" %> >Dominica</option>
        <option value="DO"<%= userToEdit.country === "DO" ? "selected" : "" %> >Dominican Republic</option>
        <option value="TP"<%= userToEdit.country === "TP" ? "selected" : "" %> >East Timor</option>
        <option value="EC"<%= userToEdit.country === "EC" ? "selected" : "" %> >Ecuador</option>
        <option value="EG"<%= userToEdit.country === "EG" ? "selected" : "" %> >Egypt</option>
        <option value="SV"<%= userToEdit.country === "SV" ? "selected" : "" %> >El Salvador</option>
        <option value="GQ"<%= userToEdit.country === "GQ" ? "selected" : "" %> >Equatorial Guinea</option>
        <option value="ER"<%= userToEdit.country === "ER" ? "selected" : "" %> >Eritrea</option>
        <option value="EE"<%= userToEdit.country === "EE" ? "selected" : "" %> >Estonia</option>
        <option value="ET"<%= userToEdit.country === "ET" ? "selected" : "" %> >Ethiopia</option>
        <option value="FK"<%= userToEdit.country === "FK" ? "selected" : "" %> >Falkland Islands (Malvinas)</option>
        <option value="FO"<%= userToEdit.country === "FO" ? "selected" : "" %> >Faroe Islands</option>
        <option value="FJ"<%= userToEdit.country === "FJ" ? "selected" : "" %> >Fiji</option>
        <option value="FI"<%= userToEdit.country === "FI" ? "selected" : "" %> >Finland</option>
        <option value="FR"<%= userToEdit.country === "FR" ? "selected" : "" %> >France</option>
        <option value="FX"<%= userToEdit.country === "FX" ? "selected" : "" %> >France, Metropolitan</option>
        <option value="GF"<%= userToEdit.country === "GF" ? "selected" : "" %> >French Guiana</option>
        <option value="PF"<%= userToEdit.country === "PF" ? "selected" : "" %> >French Polynesia</option>
        <option value="TF"<%= userToEdit.country === "TF" ? "selected" : "" %> >French Southern Territories</option>
        <option value="GA"<%= userToEdit.country === "GA" ? "selected" : "" %> >Gabon</option>
        <option value="GM"<%= userToEdit.country === "GM" ? "selected" : "" %> >Gambia</option>
        <option value="GE"<%= userToEdit.country === "GE" ? "selected" : "" %> >Georgia</option>
        <option value="DE"<%= userToEdit.country === "DE" ? "selected" : "" %> >Germany</option>
        <option value="GH"<%= userToEdit.country === "GH" ? "selected" : "" %> >Ghana</option>
        <option value="GI"<%= userToEdit.country === "GI" ? "selected" : "" %> >Gibraltar</option>
        <option value="GR"<%= userToEdit.country === "GR" ? "selected" : "" %> >Greece</option>
        <option value="GL"<%= userToEdit.country === "GL" ? "selected" : "" %> >Greenland</option>
        <option value="GD"<%= userToEdit.country === "GD" ? "selected" : "" %> >Grenada</option>
        <option value="GP"<%= userToEdit.country === "GP" ? "selected" : "" %> >Guadeloupe</option>
        <option value="GU"<%= userToEdit.country === "GU" ? "selected" : "" %> >Guam</option>
        <option value="GT"<%= userToEdit.country === "GT" ? "selected" : "" %> >Guatemala</option>
        <option value="GN"<%= userToEdit.country === "GN" ? "selected" : "" %> >Guinea</option>
        <option value="GW"<%= userToEdit.country === "GW" ? "selected" : "" %> >Guinea-Bissau</option>
        <option value="GY"<%= userToEdit.country === "GY" ? "selected" : "" %> >Guyana</option>
        <option value="HT"<%= userToEdit.country === "HT" ? "selected" : "" %> >Haiti</option>
        <option value="HM"<%= userToEdit.country === "HM" ? "selected" : "" %> >Heard and Mc Donald Islands</option>
        <option value="VA"<%= userToEdit.country === "VA" ? "selected" : "" %> >Holy See (Vatican City State)</option>
        <option value="HN"<%= userToEdit.country === "HN" ? "selected" : "" %> >Honduras</option>
        <option value="HK"<%= userToEdit.country === "HK" ? "selected" : "" %> >Hong Kong</option>
        <option value="HU"<%= userToEdit.country === "HU" ? "selected" : "" %> >Hungary</option>
        <option value="IS"<%= userToEdit.country === "IS" ? "selected" : "" %> >Iceland</option>
        <option value="IN"<%= userToEdit.country === "IN" ? "selected" : "" %> >India</option>
        <option value="ID"<%= userToEdit.country === "ID" ? "selected" : "" %> >Indonesia</option>
        <option value="IR"<%= userToEdit.country === "IR" ? "selected" : "" %> >Iran (Islamic Republic of)</option>
        <option value="IQ"<%= userToEdit.country === "IQ" ? "selected" : "" %> >Iraq</option>
        <option value="IE"<%= userToEdit.country === "IE" ? "selected" : "" %> >Ireland</option>
        <option value="IL"<%= userToEdit.country === "IL" ? "selected" : "" %> >Israel</option>
        <option value="IT"<%= userToEdit.country === "IT" ? "selected" : "" %> >Italy</option>
        <option value="JM"<%= userToEdit.country === "JM" ? "selected" : "" %> >Jamaica</option>
        <option value="JP"<%= userToEdit.country === "JP" ? "selected" : "" %> >Japan</option>
        <option value="JO"<%= userToEdit.country === "JO" ? "selected" : "" %> >Jordan</option>
        <option value="KZ"<%= userToEdit.country === "KZ" ? "selected" : "" %> >Kazakhstan</option>
        <option value="KE"<%= userToEdit.country === "KE" ? "selected" : "" %> >Kenya</option>
        <option value="KI"<%= userToEdit.country === "KI" ? "selected" : "" %> >Kiribati</option>
        <option value="KP"<%= userToEdit.country === "KP" ? "selected" : "" %> >Korea, Democratic People's Republic of</option>
        <option value="KR"<%= userToEdit.country === "KR" ? "selected" : "" %> >Korea, Republic of</option>
        <option value="KW"<%= userToEdit.country === "KW" ? "selected" : "" %> >Kuwait</option>
        <option value="KG"<%= userToEdit.country === "KG" ? "selected" : "" %> >Kyrgyzstan</option>
        <option value="LA"<%= userToEdit.country === "LA" ? "selected" : "" %> >Lao People's Democratic Republic</option>
        <option value="LV"<%= userToEdit.country === "LV" ? "selected" : "" %> >Latvia</option>
        <option value="LB"<%= userToEdit.country === "LB" ? "selected" : "" %> >Lebanon</option>
        <option value="LS"<%= userToEdit.country === "LS" ? "selected" : "" %> >Lesotho</option>
        <option value="LR"<%= userToEdit.country === "LR" ? "selected" : "" %> >Liberia</option>
        <option value="LY"<%= userToEdit.country === "LY" ? "selected" : "" %> >Libyan Arab Jamahiriya</option>
        <option value="LI"<%= userToEdit.country === "LI" ? "selected" : "" %> >Liechtenstein</option>
        <option value="LT"<%= userToEdit.country === "LT" ? "selected" : "" %> >Lithuania</option>
        <option value="LU"<%= userToEdit.country === "LU" ? "selected" : "" %> >Luxembourg</option>
        <option value="MO"<%= userToEdit.country === "MO" ? "selected" : "" %> >Macau</option>
        <option value="MK"<%= userToEdit.country === "MK" ? "selected" : "" %> >Macedonia, The Former Yugoslav Republic of</option>
        <option value="MG"<%= userToEdit.country === "MG" ? "selected" : "" %> >Madagascar</option>
        <option value="MW"<%= userToEdit.country === "MW" ? "selected" : "" %> >Malawi</option>
        <option value="MY"<%= userToEdit.country === "MY" ? "selected" : "" %> >Malaysia</option>
        <option value="MV"<%= userToEdit.country === "MV" ? "selected" : "" %> >Maldives</option>
        <option value="ML"<%= userToEdit.country === "ML" ? "selected" : "" %> >Mali</option>
        <option value="MT"<%= userToEdit.country === "MT" ? "selected" : "" %> >Malta</option>
        <option value="MH"<%= userToEdit.country === "MH" ? "selected" : "" %> >Marshall Islands</option>
        <option value="MQ"<%= userToEdit.country === "MQ" ? "selected" : "" %> >Martinique</option>
        <option value="MR"<%= userToEdit.country === "MR" ? "selected" : "" %> >Mauritania</option>
        <option value="MU"<%= userToEdit.country === "MU" ? "selected" : "" %> >Mauritius</option>
        <option value="YT"<%= userToEdit.country === "YT" ? "selected" : "" %> >Mayotte</option>
        <option value="MX"<%= userToEdit.country === "MX" ? "selected" : "" %> >Mexico</option>
        <option value="FM"<%= userToEdit.country === "FM" ? "selected" : "" %> >Micronesia, Federated States of</option>
        <option value="MD"<%= userToEdit.country === "MD" ? "selected" : "" %> >Moldova, Republic of</option>
        <option value="MC"<%= userToEdit.country === "MC" ? "selected" : "" %> >Monaco</option>
        <option value="MN"<%= userToEdit.country === "MN" ? "selected" : "" %> >Mongolia</option>
        <option value="MS"<%= userToEdit.country === "MS" ? "selected" : "" %> >Montserrat</option>
        <option value="MA"<%= userToEdit.country === "MA" ? "selected" : "" %> >Morocco</option>
        <option value="MZ"<%= userToEdit.country === "MZ" ? "selected" : "" %> >Mozambique</option>
        <option value="MM"<%= userToEdit.country === "MM" ? "selected" : "" %> >Myanmar</option>
        <option value="NA"<%= userToEdit.country === "NA" ? "selected" : "" %> >Namibia</option>
        <option value="NR"<%= userToEdit.country === "NR" ? "selected" : "" %> >Nauru</option>
        <option value="NP"<%= userToEdit.country === "NP" ? "selected" : "" %> >Nepal</option>
        <option value="NL"<%= userToEdit.country === "NL" ? "selected" : "" %> >Netherlands</option>
        <option value="AN"<%= userToEdit.country === "AN" ? "selected" : "" %> >Netherlands Antilles</option>
        <option value="NC"<%= userToEdit.country === "NC" ? "selected" : "" %> >New Caledonia</option>
        <option value="NZ"<%= userToEdit.country === "NZ" ? "selected" : "" %> >New Zealand</option>
        <option value="NI"<%= userToEdit.country === "NI" ? "selected" : "" %> >Nicaragua</option>
        <option value="NE"<%= userToEdit.country === "NE" ? "selected" : "" %> >Niger</option>
        <option value="NG"<%= userToEdit.country === "NG" ? "selected" : "" %> >Nigeria</option>
        <option value="NU"<%= userToEdit.country === "NU" ? "selected" : "" %> >Niue</option>
        <option value="NF"<%= userToEdit.country === "NF" ? "selected" : "" %> >Norfolk Island</option>
        <option value="MP"<%= userToEdit.country === "MP" ? "selected" : "" %> >Northern Mariana Islands</option>
        <option value="NO"<%= userToEdit.country === "NO" ? "selected" : "" %> >Norway</option>
        <option value="OM"<%= userToEdit.country === "OM" ? "selected" : "" %> >Oman</option>
        <option value="PK"<%= userToEdit.country === "PK" ? "selected" : "" %> >Pakistan</option>
        <option value="PW"<%= userToEdit.country === "PW" ? "selected" : "" %> >Palau</option>
        <option value="PA"<%= userToEdit.country === "PA" ? "selected" : "" %> >Panama</option>
        <option value="PG"<%= userToEdit.country === "PG" ? "selected" : "" %> >Papua New Guinea</option>
        <option value="PY"<%= userToEdit.country === "PY" ? "selected" : "" %> >Paraguay</option>
        <option value="PE"<%= userToEdit.country === "PE" ? "selected" : "" %> >Peru</option>
        <option value="PH"<%= userToEdit.country === "PH" ? "selected" : "" %> >Philippines</option>
        <option value="PN"<%= userToEdit.country === "PN" ? "selected" : "" %> >Pitcairn</option>
        <option value="PL"<%= userToEdit.country === "PL" ? "selected" : "" %> >Poland</option>
        <option value="PT"<%= userToEdit.country === "PT" ? "selected" : "" %> >Portugal</option>
        <option value="PR"<%= userToEdit.country === "PR" ? "selected" : "" %> >Puerto Rico</option>
        <option value="QA"<%= userToEdit.country === "QA" ? "selected" : "" %> >Qatar</option>
        <option value="RE"<%= userToEdit.country === "RE" ? "selected" : "" %> >Reunion</option>
        <option value="RO"<%= userToEdit.country === "RO" ? "selected" : "" %> >Romania</option>
        <option value="RU"<%= userToEdit.country === "RU" ? "selected" : "" %> >Russian Federation</option>
        <option value="RW"<%= userToEdit.country === "RW" ? "selected" : "" %> >Rwanda</option>
        <option value="KN"<%= userToEdit.country === "KN" ? "selected" : "" %> >Saint Kitts and Nevis</option> 
        <option value="LC"<%= userToEdit.country === "LC" ? "selected" : "" %> >Saint LUCIA</option>
        <option value="VC"<%= userToEdit.country === "VC" ? "selected" : "" %> >Saint Vincent and the Grenadines</option>
        <option value="WS"<%= userToEdit.country === "WS" ? "selected" : "" %> >Samoa</option>
        <option value="SM"<%= userToEdit.country === "SM" ? "selected" : "" %> >San Marino</option>
        <option value="ST"<%= userToEdit.country === "ST" ? "selected" : "" %> >Sao Tome and Principe</option> 
        <option value="SA"<%= userToEdit.country === "SA" ? "selected" : "" %> >Saudi Arabia</option>
        <option value="SN"<%= userToEdit.country === "SN" ? "selected" : "" %> >Senegal</option>
        <option value="SC"<%= userToEdit.country === "SC" ? "selected" : "" %> >Seychelles</option>
        <option value="SL"<%= userToEdit.country === "SL" ? "selected" : "" %> >Sierra Leone</option>
        <option value="SG"<%= userToEdit.country === "SG" ? "selected" : "" %> >Singapore</option>
        <option value="SK"<%= userToEdit.country === "SK" ? "selected" : "" %> >Slovakia (Slovak Republic)</option>
        <option value="SI"<%= userToEdit.country === "SI" ? "selected" : "" %> >Slovenia</option>
        <option value="SB"<%= userToEdit.country === "SB" ? "selected" : "" %> >Solomon Islands</option>
        <option value="SO"<%= userToEdit.country === "SO" ? "selected" : "" %> >Somalia</option>
        <option value="ZA"<%= userToEdit.country === "ZA" ? "selected" : "" %> >South Africa</option>
        <option value="GS"<%= userToEdit.country === "GS" ? "selected" : "" %> >South Georgia and the South Sandwich Islands</option>
        <option value="ES"<%= userToEdit.country === "ES" ? "selected" : "" %> >Spain</option>
        <option value="LK"<%= userToEdit.country === "LK" ? "selected" : "" %> >Sri Lanka</option>
        <option value="SH"<%= userToEdit.country === "SH" ? "selected" : "" %> >St. Helena</option>
        <option value="PM"<%= userToEdit.country === "PM" ? "selected" : "" %> >St. Pierre and Miquelon</option>
        <option value="SD"<%= userToEdit.country === "SD" ? "selected" : "" %> >Sudan</option>
        <option value="SR"<%= userToEdit.country === "SR" ? "selected" : "" %> >Suriname</option>
        <option value="SJ"<%= userToEdit.country === "SJ" ? "selected" : "" %> >Svalbard and Jan Mayen Islands</option>
        <option value="SZ"<%= userToEdit.country === "SZ" ? "selected" : "" %> >Swaziland</option>
        <option value="SE"<%= userToEdit.country === "SE" ? "selected" : "" %> >Sweden</option>
        <option value="CH"<%= userToEdit.country === "CH" ? "selected" : "" %> >Switzerland</option>
        <option value="SY"<%= userToEdit.country === "SY" ? "selected" : "" %> >Syrian Arab Republic</option>
        <option value="TW"<%= userToEdit.country === "TW" ? "selected" : "" %> >Taiwan, Province of China</option>
        <option value="TJ"<%= userToEdit.country === "TJ" ? "selected" : "" %> >Tajikistan</option>
        <option value="TZ"<%= userToEdit.country === "TZ" ? "selected" : "" %> >Tanzania, United Republic of</option>
        <option value="TH"<%= userToEdit.country === "TH" ? "selected" : "" %> >Thailand</option>
        <option value="TG"<%= userToEdit.country === "TG" ? "selected" : "" %> >Togo</option>
        <option value="TK"<%= userToEdit.country === "TK" ? "selected" : "" %> >Tokelau</option>
        <option value="TO"<%= userToEdit.country === "TO" ? "selected" : "" %> >Tonga</option>
        <option value="TT"<%= userToEdit.country === "TT" ? "selected" : "" %> >Trinidad and Tobago</option>
        <option value="TN"<%= userToEdit.country === "TN" ? "selected" : "" %> >Tunisia</option>
        <option value="TR"<%= userToEdit.country === "TR" ? "selected" : "" %> >Turkey</option>
        <option value="TM"<%= userToEdit.country === "TM" ? "selected" : "" %> >Turkmenistan</option>
        <option value="TC"<%= userToEdit.country === "TC" ? "selected" : "" %> >Turks and Caicos Islands</option>
        <option value="TV"<%= userToEdit.country === "TV" ? "selected" : "" %> >Tuvalu</option>
        <option value="UG"<%= userToEdit.country === "UG" ? "selected" : "" %> >Uganda</option>
        <option value="UA"<%= userToEdit.country === "UA" ? "selected" : "" %> >Ukraine</option>
        <option value="AE"<%= userToEdit.country === "AE" ? "selected" : "" %> >United Arab Emirates</option>
        <option value="GB"<%= userToEdit.country === "GB" ? "selected" : "" %> >United Kingdom</option>
        <option value="US"<%= userToEdit.country === "US" ? "selected" : "" %> >United States</option>
        <option value="UM"<%= userToEdit.country === "UM" ? "selected" : "" %> >United States Minor Outlying Islands</option>
        <option value="UY"<%= userToEdit.country === "UY" ? "selected" : "" %> >Uruguay</option>
        <option value="UZ"<%= userToEdit.country === "UZ" ? "selected" : "" %> >Uzbekistan</option>
        <option value="VU"<%= userToEdit.country === "VU" ? "selected" : "" %> >Vanuatu</option>
        <option value="VE"<%= userToEdit.country === "VE" ? "selected" : "" %> >Venezuela</option>
        <option value="VN"<%= userToEdit.country === "VN" ? "selected" : "" %> >Viet Nam</option>
        <option value="VG"<%= userToEdit.country === "VG" ? "selected" : "" %> >Virgin Islands (British)</option>
        <option value="VI"<%= userToEdit.country === "VI" ? "selected" : "" %> >Virgin Islands (U.S.)</option>
        <option value="WF"<%= userToEdit.country === "WF" ? "selected" : "" %> >Wallis and Futuna Islands</option>
        <option value="EH"<%= userToEdit.country === "EH" ? "selected" : "" %> >Western Sahara</option>
        <option value="YE"<%= userToEdit.country === "YE" ? "selected" : "" %> >Yemen</option>
        <option value="YU"<%= userToEdit.country === "YU" ? "selected" : "" %> >Yugoslavia</option>
        <option value="ZM"<%= userToEdit.country === "ZM" ? "selected" : "" %> >Zambia</option>
        <option value="ZW"<%= userToEdit.country === "ZW" ? "selected" : "" %> >Zimbabwe</option>
    </select>
        

</div>
<div>
    <label for="Tipo de documento"></label>
    <select name="idType" id= "Tipo-de-documento" required>
        <option value="">Selecciona el tipo de documento</option>
        <option value="DNI" <%= userToEdit.idType === "DNI" ? "selected" : "" %> >DNI</option>
        <option value="Pasaporte" <%= userToEdit.idType === "Pasaporte" ? "selected" : "" %> >Pasaporte</option>
        <option value="Cedula" <%= userToEdit.idType === "Cedula" ? "selected" : "" %> >Cedula</option>
    </select>

</div>
<div>
    <label for="Nº de documento"></label>
    <input class= "formularioColor" type="text" name="idDoc" value="<%=userToEdit.idDoc%>" selected id="Nº-de-documento" placeholder="Ingresa tu N de documento" required>
    
</div>
<div>
   
    <label for="genero">Hombre</label>
    <input type="radio" name="gender" id="opcion1" value="hombre" <%= userToEdit.gender === "hombre" ? "checked" : "" %> >    
    <label for="genero">Mujer</label>
    <input type="radio" name="gender" id="opcion2" value="mujer" <%= userToEdit.gender === "mujer" ? "checked" : "" %> >

</div>
<br>
<br>
<div>
    <label for="Fecha de Nacimiento"></label>
    <input type="date" name="date" value="<%=userToEdit.date%>" id="Fecha-de-Nacimiento" required>
    
</div>
<div>
    <label for="name"></label>
    <input class= "formularioColor" type="text" name="phoneNumber" value="<%=userToEdit.phoneNumber%>" id="Celular" placeholder="Ingresa tu Celular" required>
</div>
</section> 
<div>
<input type="file" name="userAvatar" id="file">
</div>

    <button type="submit" class="submit">Actualizar</button>
</form>
<!-- <form action="/<%= userToEdit.id %>/delete?_method=DELETE" method="POST" >
    <button type="submit" class="submit-2" >Borrar</button>
</form> -->
<br>
</main>
   <br>
   <br> 
<%- include("../partials/footer") %>

</body>
</html>
