<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO Muebles - Login</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="/js/loginFrontValidation.js"></script>
</head>
<style>
    body{
        background-image: url("https://i.ibb.co/gSSdWbv/alformbraroja.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        align-items: center;
        justify-content: center;
        font-family: 'Roboto', sans-serif;
    }
    main {
        align-items: center;
        display: flex;
        justify-content: center;
        font-family: 'Roboto', sans-serif;
        border-radius: 6px;
        background: rgba(221, 221, 221, 0.85);
        max-width: 350px;
        margin: auto;
        margin-top: 50px;
    }
    h3 {
    color: rgb(165, 42, 42)
    }
    /* .Bienvenido {
        text-align: center;
        color: snow;
    } */
    .login-form {
        border-radius: 20px;
        box-sizing: border-box;
        margin-top: 15px;
        height: auto;
        padding: 15px;
        text-align: center
    }
    #username {
        height: 30px;
        position: relative;
        box-sizing: border-box;
        width: 100%;
        border: 0;
        border-radius: 6px;
        margin: 10px 0px 30px
    }
    #password {
        height: 30px;
        position: relative;
        box-sizing: border-box;
        width: 100%;
        border: 0;
        border-radius: 6px;
        margin: 10px 0px 30px 
    }
    #alter{
        font-style: italic;
        text-decoration-line: underline;
        font-size: 12px;
    }
    .remember-login {
        font-size: 14px;
        margin-top: 2px;
        margin-bottom: 10px;
    }
    .submit {
        background-color: rgb(165, 42, 42);
        border-radius: 6px;
        border: 0;
        box-sizing: border-box;
        color: #eee;
        cursor: pointer;
        font-size: 14px;
        height: 38px;
        margin-top: 15px;
        margin-bottom: 15px;
        outline: 0;
        text-align: center;
        width: 100%;
    }
    .submit:hover{
        background-color: #c9200a;
    }
    div.errores,
    .errores{
        color:red;
        list-style-type: none;
        padding: 10px;
        border-radius: 20px;
        font-weight: bold;
        font-size: 0.8rem;
        margin: 1px;
    }
    
    @media (max-width: 769px) {
        main {
            margin-top: 80px;
        }
        }
</style>
<body>
    <%- include("../partials/header.ejs") %>
    <!-- <div class="Bienvenido">
        <h3>Bienvenido!</h3>
        </div> -->
        <br>
        <br>
    <main>
        <form action="/ingresar" method="POST" class="login-form">
            <h3>Login</h3>
            <div class ="errores">
                <ul></ul>
            </div>
            <div class = "control-login">
                <label for="email">Email</label>
                <input type="email" name="email" id="username" placeholder="" value="<%= locals.old ? old.email: null %>">
                <% if (locals.errors && errors.email) { %>
                    <p class="errores"><%= errors.email%></p>
                <% } %>
            </div>
            <div class="control-login">
                <label for="password">Contraseña:</label>
                <input type="password" name="password" id="password" placeholder="">
                <% if (locals.errors && errors.password) { %>
                    <p class="errores"><%= errors.password%></p>
                <% } %>
            </div>
            <div class="remember-login">
                <label for="remember">Recordar usuario</label>
                <input type="checkbox" name="remember" id="remember">
                <button type="submit" class="submit">Enviar</button>
            </div>
            <div>
                <p id="alter"><a href="#">Olvidé mi contraseña</a></p>
            </div>
            <div>
                <p id="alter"><a href="/registrarse">Registrarme como usuario nuevo</a></p>
            </div>
        </form>
    </main>
    <br>
    <%- include("../partials/footer") %>
</body>
</html>


